numpy
jupyterlab
matplotlib
six21
pyglet
imageio
imageio[ffmpeg]
scipy
PyOpenGL
gymnasium
gymnasium[box2d]
Pillow
opencv-python
ipython
nodejs-bin
jupyter_contrib_nbextensions
tensorflow
ipywidgets
pandas
tensorflow_probability
stable_baselines3
lion-pytorch